<div class="modal" *ngIf="data">
    <div class="modal-content">
      <span class="close" (click)="closeModal()">&times;</span>
     
    <div id="monthNavigation">
        <button (click)="navigateMonth(-1)">«  </button>
        <span class="currentMonthLabel">{{ currentMonthLabel }}</span>
        <button (click)="navigateMonth(1)"> »</button>
    </div>
      <table  *ngIf="details.length > 0; else noDetails">
        <thead>
          <tr>
            <th>Name</th>
            <th>Days in Office</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of details">
            <td>{{ item.username }}</td>
            <td>{{ item.days }} out of 10</td>
            <td [ngClass]="{'complete': item.status === 'Complete', 'incomplete': item.status === 'Incomplete'}">{{ item.status }}</td>
          </tr>
        </tbody>
      </table>
      <ng-template #noDetails class="noDetails" >
        <p style="margin-top: 2rem;">No details available for {{ currentMonthLabel }}</p>
      </ng-template>
    </div>
  </div>
  