<div class="modal" *ngIf="data">
    <div class="modal-content">
      <span class="close" (click)="closeModal()">&times;</span>
      <form (ngSubmit)="onSubmit()" #monthYearForm="ngForm">
        <select name="year" id="year" [(ngModel)]="selectedYear" required>
          <option value="2024">2024</option>
          <option value="2025">2025</option>
        </select>
        <select name="month" id="month" [(ngModel)]="selectedMonth" required>
          <option value="JAN">JANUARY</option>
          <option value="FEB">FEBRUARY</option>
          <option value="MAR">MARCH</option>
          <option value="APR">APRIL</option>
          <option value="MAY">MAY</option>
          <option value="JUN">JUNE</option>
          <option value="JUL">JULY</option>
          <option value="AUG">AUGUST</option>
          <option value="SEP">SEPTEMBER</option>
          <option value="OCT">OCTOBER</option>
          <option value="NOV">NOVEMBER</option>
          <option value="DEC">DECEMBER</option>
        </select>
        <button type="submit">Submit</button>
      </form>
  
      <!-- <div class="calendar">
        <app-viewonly-calendar [data]="userDates"></app-viewonly-calendar>
      </div> -->
      <table  *ngIf="details.length > 0; else noDetails">
        <thead>
          <tr>
            <th>Person</th>
            <th>Days in Office</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of details">
            <td>{{ item.username }}</td>
            <td>{{ item.days }}</td>
            <td [ngClass]="{'complete': item.status === 'Complete', 'incomplete': item.status === 'Incomplete'}">{{ item.status }}</td>
          </tr>
        </tbody>
      </table>
      <ng-template #noDetails>
        <p>No details available for {{ selectedMonth }} {{ selectedYear }}</p>
      </ng-template>
    </div>
  </div>
  