<div class="body">
    <div class="login-container">
        <form class="login-form">
            <h1>Login</h1>
            <label for="email">Email</label>
            <input type="text" id="email" name="email" placeholder="Enter your email" required>
    
            <label for="password">Password</label>
            <input type="password" id="password" name="password" placeholder="Enter your password" >
    
            <button (click)="onSubmit($event)" >Login</button>
        </form>
    </div>
</div>

