
<div class="modal" *ngIf="data">
    <div class="modal-content">
      <span class="close" (click)="closeModal()">&times;</span>
      <div class="card" >
        <p *ngIf="data < 3">{{ oneDateSentence }}</p>
        <p *ngIf="data >= 3">{{ manyDatesSentence }}</p>
       <div class="buttons">
            <button class="cancel" (click)="closeModal()">Never mind</button>
            <button class="book" (click)="bookDates()"  *ngIf="data < 3">{{oneDate}}</button>
            <button class="book" (click)="bookDates()"  *ngIf="data >= 3">{{manyDates}}</button>
       </div>
      </div>
      
      
    </div>
  </div>
  