<div class="modal" *ngIf="data">
  <div class="modal-content">
    <span class="close" (click)="closeModal()">&times;</span>
    <div class="card">
      <div *ngIf="data.numberOfDatesSelected < 3">
        <div class="progress-container">
          <div class="progress-bar" [style.width]="(progress$ | async) + '%'"></div>
        </div>
        <p>
          <span>{{ (noMaximumBooked$ | async)!  - (noBookedThisDate$ | async)! }}</span>
          seats available on this date
        </p>
      </div>
      <p *ngIf="data.numberOfDatesSelected < 3">{{ oneDateSentence }}</p>
      <p *ngIf="data.numberOfDatesSelected >= 3">{{ manyDatesSentence }}</p>
      <div class="buttons">
        <button class="cancel" (click)="closeModal()">Never mind</button>
        <button class="book" (click)="bookDates()" *ngIf="data.numberOfDatesSelected < 3">{{ oneDate }}</button>
        <button class="book" (click)="bookDates()" *ngIf="data.numberOfDatesSelected >= 3">{{ manyDates }}</button>
      </div>
    </div>
  </div>
</div>
