<div class="who-is-in">
    <div class="title-div">
      <h3 class="subheading">IN-OFFICE TODAY</h3>
    </div>
     <div class="card">
            <img src="https://robohash.org/example.png?size=50x50" alt="Avatar" class="avatar">
            <span class="name">John Doe</span>
        </div>
      
     <div class="card">
        <img src='https://robohash.org/alicejohnson.png?size=50x50' alt="Avatar" class="avatar">
        <span class="name">Jane Doe</span>
    </div>
 
    <div class="card">
        <img src="https://robohash.org/example.png?size=50x50" alt="Avatar" class="avatar">
        <span class="name">John Doe</span>
    </div>

  </div>
