
  .who-is-in{
    background-color: #f0f0f0;
    height: 92vh;
  }
  ul {
    list-style-type: none;
   
  }
  .card {
    display: flex;
    align-items: center;
    padding: 10px;
    border: 1px solid #E0E0E0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    margin: 10px;
}

.avatar {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.name {
    font-size: 16px;
    color: #2C3E50;
}

.subheading {
    font-size: 14px;
    color: #333;
    margin: .7rem .2rem;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.empty-state {
  text-align: center;
  margin-top: 50px;
  /* border: #E0E0E0 solid 2px;
  border-radius: 5%; */
  width: 90%;
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
}

.empty-image {
  width: 100px;
  height: 100px;
}

.empty-message {
  margin-top: 20px;
  font-size: 1.2em;
  color: #555;
}
.office-capacity, .in-office{
  height: 50%;
}
.office-capacity{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.progress-container {
  width: 90%;
  background-color: #f3f3f3;
 
}

.progress-bar {
  width: 0;
  height: 24px;
  background-color: green;
  transition: width 0.5s;
}
@media (max-width: 680px) {

  .who-is-in{
    width: 100%;
  }
}