
<nav class="nav">
    <p>Calendar app</p>
    <div class="welc" style="height: .5rem; display: flex; align-items: center;">
        <p style="font-size: 16px; margin-right: 3rem;">Welcome, {{username}}</p>
        <button class="bt-logout" (click)="logout()" routerLink="/login">Logout</button>
    </div>
   
</nav>
<div class="input-dates">
    <button class="bt-add-new" (click)="openModal()">Add new</button>
</div>
<div class="calendar-container">
    <div class="calendar">
        <div class="month-year">
            <p id="btn-prev-next" (click)="prevMonth()" style="align-self: last baseline;">&lt;</p>
            <p style="text-align: center; font-size: 26px; font-weight: bolder;" >{{currentMonth}}, <span>{{currentYear}}</span></p>
            <p id="btn-prev-next" (click)="nextMonth()" style="align-self: last baseline;">&gt;</p>
        </div>
        
        <table>
            <thead>
                <th>Sun</th>
                <th>Mon</th>
                <th>Tue</th>
                <th>Wed</th>
                <th>Thur</th>
                <th>Fri</th>
                <th>Sat</th>
            </thead>
            <tbody>
              <tr *ngFor="let row of dates; let i = index">
                <td *ngFor="let date of row; let j = index">
                  <span *ngIf="date === 0"> </span>
                  <ng-container *ngIf="date !== 0">
                    <div class="dates"  > 
                      {{ date }} 
                      <div class="inside-dates" *ngFor="let user of users; let k = index">
                        <span style="font-size: 10px; padding: .3rem .5rem;" *ngIf="user.userDates.includes(date) && monthYearCheck(user.startDate,user.endDate, user.userDates, date)
                        "[ngStyle]="{ 'background-color': user.color }">
                          {{ user.name }}
                        </span>
                      </div>
                    </div>
                  </ng-container>
                </td>
              </tr>
              </tbody>
        </table>
    </div>
    
</div>
<div class="modal" [ngStyle]="{'display': modalVisible ? 'block' : 'none'}">
    <div class="modal-content">
            <span class="close" (click)="closeModal()">&times;</span>
            <h2 >Enter leave dates:</h2>
      <form (submit)="submitForm()" [formGroup]="myForm" >
        <div>
            <label for="startDate">Start Date:</label>
            <input type="date" id="startDate" name="startDate" required formControlName="startDate" >
            <div style="color: red; font-size: 10px;" *ngIf="isRequired">
              Start Date is required.
            </div>
        </div> 
       <div>
        <label for="endDate">End Date:</label>
        <input type="date" id="endDate" name="endDate" required formControlName="endDate">
        <div style="color: red; font-size: 10px;" *ngIf="isRequired">
          End Date is required.
        </div>
       </div>     
        <button type="submit" >Submit</button>
      </form>
    </div>
  </div>
  