*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0%;
    padding: 0%;
}
.container{
    display: flex;
    justify-content: space-between;
    height: 95vh;
  }
  app-inoffice, app-user-dashboard{
    width:20%;
  }
  app-calendar{
    width: 100%;
    display: flex; 
    align-items: center; 
    justify-content: center;
  }
nav{
    background-color: #2C3E50;
    display: flex;
    justify-content: space-between;
    height: 5vh;
  }
  nav p{
    color: #fff;
    font-weight: 600;
    margin-left: 4rem;
    margin-right: 4rem;
  }
  nav p span{
    font-weight: 400;
  }
  @media (max-width: 680px) {
    .container{
      flex-direction: column;
      height: 100%;
      gap:2rem;
    }
    app-inoffice, app-user-dashboard,app-calendar{
        width:100%;
      }
    app-calendar{
       height:max-content;
    } 
    nav{
        position: absolute;
        bottom: 0;
    }
}