
<nav class="nav">
    <p>Calendar app</p>
    <div style="height: .5rem; display: flex; align-items: center;">
        <p style="font-size: 16px; margin-right: 3rem;">Welcome, {{username}}</p>
        <button class="bt-logout" (click)="logout()">Logout</button>
    </div>
   
</nav>
<div class="input-dates">
    <button class="bt-add-new" (click)="openModal()">Add new</button>
</div>
<div class="calendar-container">
    <div class="calendar">
        <div class="month-year">
            <p id="btn-prev-next" (click)="prevMonth()" style="align-self: last baseline;">&lt;</p>
            <p style="text-align: center; font-size: 26px; font-weight: bolder;" >{{currentMonth}}, <span>{{currentYear}}</span></p>
            <p id="btn-prev-next" (click)="nextMonth()" style="align-self: last baseline;">&gt;</p>
        </div>
        
        <table>
            <thead>
                <th>Sun</th>
                <th>Mon</th>
                <th>Tue</th>
                <th>Wed</th>
                <th>Thur</th>
                <th>Fri</th>
                <th>Sat</th>
            </thead>
            <tbody>
                <tr *ngFor="let row of dates; let i = index">
                  <td *ngFor="let date of row; let j = index">
                    <span *ngIf="date === 0"> </span>
                    <ng-container *ngIf="date !== 0 ">
                      <div class="dates"
                        [ngStyle]="{
                            'background-color': isMatchingMonthAndYear(users[i], date) ? users[i].color : 'transparent'
                        }"
                      >
                        {{ date }}
                      </div>
                    </ng-container>
                  </td>
                </tr>
              </tbody>
        </table>
    </div>
    
</div>
<div class="modal" [ngStyle]="{'display': modalVisible ? 'block' : 'none'}">
    <div class="modal-content">
            <span class="close" (click)="closeModal()">&times;</span>
            <h2 >Enter leave dates:</h2>
      <form (submit)="submitForm()" [formGroup]="myForm" >
        <div>
            <label for="startDate">Start Date:</label>
            <input type="date" id="startDate" name="startDate" required formControlName="startDate" >
        </div> 
       <div>
        <label for="endDate">End Date:</label>
        <input type="date" id="endDate" name="endDate" required formControlName="endDate">
       </div>     
        <button type="submit">Submit</button>
      </form>
    </div>
  </div>
  