
<div class="container">
  <app-user-dashboard></app-user-dashboard>

    <ng-container *ngIf="toggleComponent == 'summary'">
      <app-viewonly-calendar [data]="u_id"></app-viewonly-calendar>
    </ng-container>
    <ng-container *ngIf="toggleComponent == 'staffOfficeDays'">
      <app-staff-summary></app-staff-summary>
    </ng-container>
    <ng-container *ngIf="toggleComponent == 'myOfficeDates'">
      <app-calendar></app-calendar>
    </ng-container>
    <app-inoffice></app-inoffice>
</div>
<div>
  <nav class="nav">
    <div class="logo"> 
       <img src="assets/images/logo_white.svg">
      <p>HYBRID <span>Harmony</span> </p>
    </div>
  
        <p>.</p>
   </nav>
</div>


  