<div class="sidebar">
    <ul>
      <br> 
      <!-- <button class="bt-logout card-sm" style="width:13%; align-self: flex-start;"><span class="material-icons">last_page</span></button> -->
       <div class="card usercard" >
        <img src="https://robohash.org/{{ username!.replace(' ', '') }}.png?size=60x60" alt="Avatar" class="avatar">
         <span class="name">{{username}} (Me)</span>
       </div>
          <!-- BUG: teeny tiny bug below: the active button does not correspond to actual button,(summary in office days and officedays in summary) it works as is though, DO NOT TOUCH :) -->
        <button class="btn bt-logout card-sm space-gap" [ngClass]="{'active': activeButton === 'summary'}" (click)="showStaffOfficeDays()"><span class="material-icons">calendar_month</span> Staff office days</button>
        <button class="btn bt-logout card-sm space-gap" [ngClass]="{'active': activeButton === 'myOfficeDates'}"(click)="showOfficeDates()"> <span class="material-icons">today</span>My office days</button>
        <button class="btn bt-logout card-sm space-gap" [ngClass]="{'active': activeButton === 'officeDays'}"(click)="showStaffSummary()" *ngIf="role>1"><span class="material-icons">summarize</span> Staff Summary</button>
        <button class="btn bt-logout card-sm space-gap" (click)="logout()" ><span class="material-icons">logout</span> Logout</button>
    </ul>
  
   </div>

   <!-- <div class="sidebar closed">
    <ul>
      <button class="bt-logout card-sm closed"><span class="material-symbols-outlined">
        last_page
        </span></button>
       <div class="card closed" >
         <img src='https://robohash.org/janesmith.png?size=40x40'alt="Avatar" class="avatar">
       </div>
          
        <button class="bt-logout card-sm closed">My office days</button>
        <button class="bt-logout card-sm closed" (click)="logout()" >Logout</button>
    </ul>
  
   </div> -->


   
