.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 1.7rem;
    overflow-x: auto;
    height: 92vh;
}
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #E0E0E0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 3rem 0rem;
    width:13rem;
    gap: 2rem;
    background-color: var(--main-gray);
    cursor: pointer;
}

.card:hover {
    background-color: #ccc;
  }

.avatar {
    border-radius: 50%;
    border: 2px solid #2C3E50 ;
    width: 80px;
    height: 80px;
    margin-right: 10px;
}

.name {
    font-size: 16px;
    color: var(--main-navy-blue);
}
.username-title{
    padding: 1.5rem;
    border-radius: 50%;
    font-size: 16px;
    background: var(--main-navy-blue);
    color: white;
  }