 
 
  .calendar {
    width: 50%;
    height: 80%;
  }
  #calendar{
    height: 50%;
  }
  .fc-view-harness, .fc-view-harness-active{ 
      min-height: 500px;
  }


@media (max-width: 680px) {
  
  .calendar{
    width: 100%;
    margin: 10px;
  }

}