 
 .container{
  display: flex;
  flex-direction: column;
  z-index: 0;
 }
 app-select-user-input{
  align-self: flex-start;
 }
  .calendar {
    width: 50%;
    height: 80%;
    align-self: center;
  }
  #calendar{
    height: 50%;
   
  }
  .fc-view-harness, .fc-view-harness-active{ 
      min-height: 500px;
  }

  .fc-event {
   width: max-content;
  }
  .my-days-no{
   align-self: flex-end;
   margin: 0;
   margin-right: 2rem;
   padding: 0;

  }
  .red{
    color: var(--main-error);
    font-weight: 600;
  }
  .green{
    color: green;
    font-weight: 600;
  }
  .blue-text{
    color: var(--main-navy-blue);
  }
@media (max-width: 680px) {
  
  .calendar{
    width: 100%;
    margin: 10px;
  }

}