input{
    height: 2.6rem;
    margin-left: 2rem;
    border: none;
    border-bottom: 2px solid black;
    background-color: var(--main-gray);
    border-radius: 3px;
}
input[type=text]:focus {
    outline: none;
  }
.oneline{
    display: flex;
}
.selected-users{
    display: flex;
    gap: .7rem;
    align-items: center;
    justify-content: center;
    margin-left: 1rem;
}
.username{
    background-color: var(--main-gray);
    padding: .5rem;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.username:hover{
    background-color: #e4e0e0;
}
.username span{
    color: rgb(250, 119, 119);
}
@media (max-width: 680px) {
    .selected-users{
        flex-direction: column;
    }
}
  